.tabsContainer {
  width: 100%;
  border: 1px solid $primary-color;

  &:has(.tabsListByGrid) {
    @include mobile {
      border-width: 0;
      border-top: 1px solid $primary-color;
    }
  }

  .tabsList {
    display: flex;
    flex-wrap: nowrap;

    &.tabsListByGrid {
      @include mobile {
        flex-wrap: wrap;

        .tab {
          width: 50%;
          flex: auto;

          &:nth-child(odd) {
            border-left: 1px solid $primary-color;
          }

          &:nth-child(even) {
            border-right: 1px solid $primary-color;
          }

          border-bottom: 1px solid $primary-color;
        }
      }
    }

    .tab {
      flex: 1;
      height: 64px;
      cursor: pointer;
      color: $primary-color;
      background-color: $color-white;
      text-align: center;
      @include sb-20;
      @include flexbox();

      @include mobile {
        @include m-14;
        height: 40px;
      }

      & + .tab {
        border-left: 1px solid $primary-color;
      }
      &.current {
        background-color: $primary-color;
        color: $color-white;
      }
    }
  }
}
