
// :root {
//   --color-wine: #811525;
//   --color-bg : #181818;
// }

$primary-color : #811525;
$color-bg : #181818;
$color-white : #fff;
$color-white-line : #fafafa;
$color-black : #000;
$color-black-line : #221F20;
$color-gray-line : #8D9090;
$color-gray-line2 : #DADADA;
$color-gray-line3 : #666669;
$color-gray-line4 : #F6F6F6;
$color-violet : #5B32E6;

$higher-layer-zIndex : 2;
$noraml-layer-zIndex : 1;
$under-layer-zIndex : -1;


// $color-gray: #a1a1a1;
// $color-gray2: #dadada;
// $color-gray3: #8d9090;
// $color-gray4: #666669;
// $color-gray5: #888888;
// $color-gray6: #eeeeee;
// $color-gray7: #7e7e7e;
// $color-gray8: #555555;
// $color-gray9: #8d9090;
// $color-text: #221f20;
// $color-white: #fff;
// $color-black: #1c1c1c;
// $color-black2: #000;
// $color-black3: #151515;
// $color-wine: #811525;
// $border-color: #c2c2c2;
